h2 {
    padding-left: 25px;
    padding-top: 10px;
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
}

article {
    padding: 25px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center
}

#firstArticle, #secondArticle, #thirdArticle {
    border: 3px solid #157200;
    margin-bottom: 15px;
}

