header {
    color: #157200;
    background: #C0C0C0;
    padding: 25px;
    text-align: center;
    font-family: helvetica;
    font-size: x-large;
}

body {
    font-family: helvetica;
}

footer {
    text-align: center;
    padding: 15px;
    background: #C0C0C0;
}

nav {
    text-align: center;
    font-size: large;
    padding: 15px;
    background: #B7DCB9
    
}

.firstNav, .secondNav {
    padding: 10px
}


